body {
    height: 100vh
}

.container {
    display: flex;
    justify-content: center;
}

header {
    height: 15px;
    width: 50%;
    background: rgb(48, 48, 48);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;;
}

button {
    color: #fff;
    background-color: transparent;
    border: 0px solid transparent;
}

button:hover {
    cursor: pointer;
}

input {
    height: 20px;
    background-color: transparent;
    border: 1px solid lightgray;
    color: #fff;
    border-radius: 3px;
}

#logar {
    border: 1px solid #fff;
    border-radius: 3px;
    height: 25px;
}

#criar-conta {
    color: #000;
    background: gold;
    border-radius: 3px;
    height: 25px;
    border: 0px solid gold;
}

