body {
    height: 600px;
    width: 600px;
}

#container {
    display: flex;
    width: 600px;
    height: 600px;
    align-items: center;
    justify-content: center;
}

#btn {
    background-color: gold;
    border: 2px solid gold;
    height: 100px;
    width: 100px;
    border-radius: 100px;
}