* {
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.modal {
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 7px 7px rgba(0,0,0,0.2);
    background-color: #FFFFFF;
    border: 0px solid #FFFFFF;
    border-radius: 10px;
    padding: 10pt;
    text-align: start;
    width: 400px;
    animation: zoom_effect 0.25s; 
}

@keyframes zoom_effect {
    0% {
        transform: scale(0);
    } 100% {
        transform: scale(1);
    }
}

.close {
    margin-top: 10pt;
    margin-bottom: 10pt;
    height: 15px;
}

.modal > p {
    font-size: 12pt;
    opacity: 0.9;
    text-align: justify;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    margin-bottom: 10px;
}

h1 {
    font-size: 15pt;
    margin-bottom: 20px;
}

#open-btn {
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    height: 50px;
    width: 150px;
}

#close-modal {
    font-size: 16pt;
    background-color: transparent;
    border: none;
    opacity: 0.2;
}

#save-btn {
    font-size: 13pt;
    height: 50px;
    background-color: #0D6EFD;
    color: #fff;
    border: 0px solid #0D6EFD;
    border-radius: 10px;
}

#hide-btn {
    background-color: transparent;
    opacity: 0.5;
    height: 50px;
    font-size: 18pt;
    border: none;
    border-radius: 10px
}

#close-btn {
    font-size: 13pt;
    height: 50px;
    background-color: #F8F9FA;
    border: 0px solid #F8F9FA;
    border-radius: 10px;
}
.close {
    display: flex;
    align-items: center;
    justify-content: space-between;
}