:root {
    --app-background: #1F2A48;
    --repo-followers: #141C2F;
    --blue: #0079FE;
    --bg-collor: #141C2F;
}

* {
    font-weight: 700;
    font-family: 'Red Hat Display', sans-serif;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
        text-overflow: ellipsis;
}

body {
    height: 100vh;
    background: var(--bg-collor)
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.app-card {
    width: 600px;
}

.title-switchBtn-card {
    color: #fff;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
}

.switch-theme-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 43.333px;
}

#theme-p-tag {
    margin: 0;
    font-size: 16px;
    margin-top: 5px;
}

#theme-svg {
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-top: 5px;
}

.search-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--app-background);
    height: 75px;
    border-radius: 15px;
    margin-bottom: -50px;
}

.search-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#error-modal-div {
    visibility: hidden;
    background: #E51C24;
    border-radius: 15px;
    width: 300px;
    margin-left: 150px;

}
.error-modal {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 10px;
    width: 100%;
}

#error-svg {
    padding-right: 10px;
    height: 22px;
    width: 22px;
    padding-bottom: 2px;
    float: center;
}

#error-text {
    font-weight: 500;
}

#error-svg2 {
    width: 25px;
    height: 25px;
    padding-top: 4px;
    padding-left: 25px;
}

.user-data-card {
    visibility: hidden;
    padding-top: 35px;
    display: flex;
    margin-top: 25px;
    background: var(--app-background);
    border-radius: 15px;
    height: 320px;
}

.user-img-div {
  width: 210px;
}

.user-data-div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dev-engagement {
    border-radius: 10px;
    display: grid;
    grid-template-areas:  '1fr 1fr 1fr';
    text-align: center;
    background: var(--repo-followers);
    margin-right: 12px;
    padding-bottom: 10px;
}

.dev-social {
    display: grid;
    grid-template-areas: '1fr 1fr';
    margin-right: 30px;
}

.dev-location {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dev-twitter {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.dev-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dev-company {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-img {
    height: 21px;
    width: 21px;
    margin-right: 5px;
    color: #fff;
}

.social-p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

#search-input {
    background: transparent;
    color: #fff;
    border: none;
    width: 500px;
    margin-left: 10px;
}
#search-input:hover {
    border: none;
    border-color: none;
    outline:  none;
}

#search-input:active {
    border:  none;
    border-color: none;
    outline:  none

}

#search-input:focus {
    border: none;
    border-color: none;
    outline: none;
}

#search-btn {
    background: var(--blue);
    border: none;
    color: #fff;
    height: 50px;
    width: 125px;
    margin-right: 12px;
    border-radius: 10px;
    font-size: 18px;
}

#search-img {
    margin-left: 25px;
    margin-top: 12px;
    height: 25px;
    width: 25px;
}

#dev-avatar {
    background: none;
    height: 100px;
    width: 100px;
    border: 3px solid #ffff;
    border-radius: 100px;
    border-radius: 50px;
    margin-left: 20px;  
}

#dev-bio {
    color: #fff;
    font-weight: 300;
    width: 400px;
}

.dev-name {
    color: white;
    margin: 0;
    font-weight: 700;
}


.dev-twitter {
    margin-right: 30px;
}

.dev-link {
    margin-bottom: 30px;

}

.dev-company {
    margin-right: 30px;
    margin-bottom: 30px;
}

#dev-username {
    color: #0D59B2;
    margin: 0;
    text-decoration: underline;
}

.h2-tag {
    font-size: 20px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 15px;
    margin: 0;
}

.p-tag {
    margin: 0px;
    color: #fff;
    font-size: 30px;
}

p {
    color: #fff;
}