* {
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background: lightgray   ;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    display: flex;
    box-shadow: black;
    height: 350px;
    width: 300px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    background-color: white;
    flex-direction: column;
}

#cardMeio {
    margin-top: 50px;
    height: 400px;
}

#thumbnail {
    display: flex;
    height: 150px;
    background-color: dimgray;
    justify-content: center;
    align-items: center;
}

.actions {
    padding : 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botoes {
    margin: 0px;
}

h1 {
    color: #fff;
}

p {

    margin: 15px;
    font-size: 16px;
    text-align: start;
     font-family: 'Roboto', sans-serif;
}

.tempo {
    opacity: 0.5;
}

button {
    border: 1px solid black;
    background: transparent;
    border-radius: 4px;
}

.botoes {
    display: flex;
    flex-direction: row;
    padding: none;
}

.botoes > button:nth-child(1) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.botoes>button:nth-child(2) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px;
}