body {
    height: 100vh;
}

#container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
}

input:hover {
    transition: 0.25s;
    background-color:rgb(216, 210, 210);
}

input::placeholder {
    text-align: center;
}

input::value {
    text-align: center;
}

button {
    border: 2px solid rgb(82, 170, 82);
    border-radius: 5px;;
    background-color:rgb(82, 170, 82);
    margin: 25px;
}
